body{
    background-color: rgb(147, 189, 220);
    font-family: Arial;
}

h1{
    text-align: center;
}
main{
    margin: auto;

    text-align: center;
    background-color: rgb(130, 138, 163);

    border-radius: 20px;
    padding: 20px;
}
