body{
    background: linear-gradient(rgb(193, 193, 252),rgb(41, 27, 143));
    font-family: Arial;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
}
main{

    text-align: center;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
#container{
    text-align: center;
    margin: auto;

}
main > div{
    height: fit-content;
    padding: 20px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px ;
    background: linear-gradient(180deg,rgb(193, 193, 252),rgb(41, 27, 143));
    -ms-grid-column-align: center;
    border-radius: 40px;
    

    
}
main > div > *{
    text-align: center;
    margin: auto;
}

main > div > img{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    ;
}

#container div {
    display: inline-block;
    width: 30rem;
    background-color: rgba(191, 190, 255, 0.586);
    border-radius: 50px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
#container div h3{
    margin: auto;
    padding: 15px 15px 15px 15px;
    display: block;
    text-align: center;
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgb(193, 193, 252);
}
footer{
    position: relative;
    text-align: center;
}