body{
    background-color: #ede8f5;

}
header{
    height: 60px;
    background-color: #8697c4;
    border: none;
    position: sticky;
}
#fej{
    display: block;
    margin: auto;
}

h1{
    text-align: center;
    color: whitesmoke;
    font-style: bold;
    font-family: Arial;
    font-variant: small-caps;
    border-radius: 10px;
    background-color: #8697c4;
    width: 10em;
    padding-left: 45rem;


}

.dropbtn {
    background-color: #8697c4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;

  }
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    background-color: #8697c4;
    border-radius: 20px;

}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    border-bottom-right-radius: 20px;
    background-color: #8697c4;
    min-width: 160px;
    z-index: 1;
    height: 200px;

}
  
/* Links inside the dropdown */
.dropdown-content a {
color: white;
font-size: 16px;
padding: 12px 16px;
text-decoration: none;
border-radius: 10px;
display: block;
width: 200px;
font-style: bold;
font-family: Arial;
margin: 10px 10px;
font-variant: small-caps;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #adbbda;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */



.hozzavalok {
    border-radius: 30px;
    font-size: 1em;
}
.hozzavalok table{
    width: 100%;
}

section {
    margin-top: 50px;
}

.hozzavalok .card {
    height: 250px;
    margin-bottom: 20px;
    background: #8697c4;
    border: none;
}

body { font-family: Helvetica; }

.elkeszites h2{
    text-align: center;
}
.elkeszites div {
  margin: auto;
  max-width: 800px;
}

.elkeszites p {
  border-top: 2px dashed;
  border-color: #3d52a0 !important;
  margin:0; padding: 30px;
  counter-increment: section;
  position: relative;
}



.elkeszites p:nth-child(even):before {
  content: counter(section);
  right: 100%; 
  margin-right: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 3px;
  height: 30px;
  width: 30px;
  background-color: #3d52a0;
  text-align:center;
  color: white;
  font-size: 110%;
}

.elkeszites p:nth-child(odd):before {
  content: counter(section);
  left: 100%; 
  margin-left: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 3px;
  height: 30px;
  width: 30px;
  background-color: #3d52a0;
  text-align:center;
  color: white;
  font-size: 110%;
}



.elkeszites p:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
  text-align: left;
}

.elkeszites p:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
  text-align: right;
}

.elkeszites p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.elkeszites p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.sec-img{
    width: 25em;
    border-radius: 40px;
    display: block;
    margin: 50px 50px ;
}
.item{
    border-color: none;
    border-radius: 40px;
    width: 40rem;
    background-color: #adbbda;
    display: block;
    padding: 55px 50px;
    
}
